<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
       <h1 class="center-align">URL SHRINKER</h5>
    <form action="/smol" method="post">
        <label for="fullurl">Full URL</label>
        <input  type="url" name="urlshrinker" id="fullurl" class="validate s6">
        

        <button class="btn waves-effect waves-light center-align z-depth-5" type="submit">Shrink</button>

    </form>
<table class="striped centered responsive-table highlight">
    <thead>
        <tr>
        <th>full</th>
        <th>short</th>
        <th>click</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <a href="https://www.google.com">google.com</a>
        </td>
        <td>
            <span>abcd</span>
        </td>
        <td>
            10

        </td>
    </tr>
    </tbody>
</table>    
</div>
</body>
</html>