<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>html</p>
    <form action="" method="post">
        <label for="urlshrinker"></label>
        <input type="url" name="urlshrinker" id="fullurl">
        <button type="submit">Shrink</button>

    </form>
<table>
    <thead>
        <tr>
        <th>full</th>
        <th>short</th>
        <th>click</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <a href="https://www.google.com">google.com</a>
        </td>
        <td>
            <span>abcd</span>
        </td>
        <td>
            10
        </td>
    </tr>
    </tbody>
</table>    
    
</body>
</html>